@font-face {
  font-family: 'icon-font';
  src:
    url('icon-font/icon-font.ttf?ifv8k3') format('truetype'),
    url('icon-font/icon-font.woff?ifv8k3') format('woff'),
    url('icon-font/icon-font.svg?ifv8k3#icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.icon-cog:before {
  content: "\e994";
}
